# Build files
.vscode/*
CmakeFiles/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.tlog
*.txt
*.sln
*.pdb
*.lastbuildstate
*.db
*.ipch
*.idb
*.suo
*.log
*.ilk
*.recipe
*.vcxproj
*.filters
*.user
*.enc

*.CopyComplete

*.nupkg

*.pump

с\+\+ (part 2)/task8 (tests)/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.6/build/native/include/gtest/internal/gtest-type-util.h

*.vsidx

с\+\+ (part 2)/task1/.vs/task1/FileContentIndex/

с\+\+ (part 2)/task1/.vs/task1/v17/

patterns/SBomberProject/.vs/

с\+\+ (part 2)/task1/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.6/

с\+\+ (part 2)/task8 (tests)/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.6/

с\+\+ (part 2)/task8 (tests)/packages.config

с\+\+ (part 2)/task1/packages.config

*.db-shm

*.db-wal
